@import '../../common.scss';

.container {
  @include container-flex(row);
  justify-content: space-between;
  background-color: $background-green;
  border: solid 1px $border-white;
  height: 100px;
  padding: 0 5px;
}

.ticker {
  font-family: AndaleMono;
  font-size: 36px;
  color: $white;
}

.price {
  font-family: AndaleMono;
  font-size: 36px;
  color: $white;
}

.value-change {
  font-family: AvenirNext;
  font-size: 24px;
  color: $white;
}
