@import "../../common.scss";

.container {
  width: 500px;
  min-height: 500px;
  background-color: $background-green;
  border: solid 1px $border-white;
}

.add-container {
  @include container-flex(row);  
  border-top: 1px $border-white;
  border-bottom: 1px solid grey;
  background-color: $background-green;
  height: 100px;
  color: #fff;
  font-size: 28px;
}
